* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#botaoAudio {
    width: 100vw;
    height: 100vh;
    font-size: 50px;
    border: none;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.tabela-periodica {
  display: grid;
  grid-template-columns: repeat(18, 60px); 
  gap: 4px; 
}

.elemento {
  border: 1px solid #000;
  padding: 4px;
  min-height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 3px;
}

.numero {
  font-size: 10px;
  text-align: left;
}

.simbolo {
  font-weight: bold;
  font-size: 18px;
}

.nome {
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  max-width: 100%;
}

/* POSICIONAMENTO DOS 118 ELEMENTOS NO CSS GRID */

/* Período 1 - 1 e 2 */
.h  { grid-column: 1;  grid-row: 1; }
.he { grid-column: 18; grid-row: 1; }

/* Período 2 - 3 ao 11 */
.li { grid-column: 1;  grid-row: 2; }
.be { grid-column: 2;  grid-row: 2; }
.b  { grid-column: 13; grid-row: 2; }
.c  { grid-column: 14; grid-row: 2; }
.n  { grid-column: 15; grid-row: 2; }
.o  { grid-column: 16; grid-row: 2; }
.f  { grid-column: 17; grid-row: 2; }
.ne { grid-column: 18; grid-row: 2; }

/* Período 3 - 12 ao 19*/
.na { grid-column: 1;  grid-row: 3; }
.mg { grid-column: 2;  grid-row: 3; }
.al { grid-column: 13; grid-row: 3; }
.si { grid-column: 14; grid-row: 3; }
.p  { grid-column: 15; grid-row: 3; }
.s  { grid-column: 16; grid-row: 3; }
.cl { grid-column: 17; grid-row: 3; }
.ar { grid-column: 18; grid-row: 3; }

/* Período 4 - 20 ao 37*/
.k  { grid-column: 1;  grid-row: 4; }
.ca { grid-column: 2;  grid-row: 4; }
.sc { grid-column: 3;  grid-row: 4; }
.ti { grid-column: 4;  grid-row: 4; }
.v  { grid-column: 5;  grid-row: 4; }
.cr { grid-column: 6;  grid-row: 4; }
.mn { grid-column: 7;  grid-row: 4; }
.fe { grid-column: 8;  grid-row: 4; }
.co { grid-column: 9;  grid-row: 4; }
.ni { grid-column: 10; grid-row: 4; }
.cu { grid-column: 11; grid-row: 4; }
.zn { grid-column: 12; grid-row: 4; }
.ga { grid-column: 13; grid-row: 4; }
.ge { grid-column: 14; grid-row: 4; }
.as { grid-column: 15; grid-row: 4; }
.se { grid-column: 16; grid-row: 4; }
.br { grid-column: 17; grid-row: 4; }
.kr { grid-column: 18; grid-row: 4; }

/* Período 5 - 38 ao 55*/
.rb { grid-column: 1;  grid-row: 5; }
.sr { grid-column: 2;  grid-row: 5; }
.y  { grid-column: 3;  grid-row: 5; }
.zr { grid-column: 4;  grid-row: 5; }
.nb { grid-column: 5;  grid-row: 5; }
.mo { grid-column: 6;  grid-row: 5; }
.tc { grid-column: 7;  grid-row: 5; }
.ru { grid-column: 8;  grid-row: 5; }
.rh { grid-column: 9;  grid-row: 5; }
.pd { grid-column: 10; grid-row: 5; }
.ag { grid-column: 11; grid-row: 5; }
.cd { grid-column: 12; grid-row: 5; }
.in { grid-column: 13; grid-row: 5; }
.sn { grid-column: 14; grid-row: 5; }
.sb { grid-column: 15; grid-row: 5; }
.te { grid-column: 16; grid-row: 5; }
.i  { grid-column: 17; grid-row: 5; }
.xe { grid-column: 18; grid-row: 5; }

/* Período 6 - 56 ao 72*/
.cs { grid-column: 1;  grid-row: 6; }
.ba { grid-column: 2;  grid-row: 6; }
.hf { grid-column: 4;  grid-row: 6; }
.ta { grid-column: 5;  grid-row: 6; }
.w  { grid-column: 6;  grid-row: 6; }
.re { grid-column: 7;  grid-row: 6; }
.os { grid-column: 8;  grid-row: 6; }
.ir { grid-column: 9;  grid-row: 6; }
.pt { grid-column: 10; grid-row: 6; }
.au { grid-column: 11; grid-row: 6; }
.hg { grid-column: 12; grid-row: 6; }
.tl { grid-column: 13; grid-row: 6; }
.pb { grid-column: 14; grid-row: 6; }
.bi { grid-column: 15; grid-row: 6; }
.po { grid-column: 16; grid-row: 6; }
.at { grid-column: 17; grid-row: 6; }
.rn { grid-column: 18; grid-row: 6; }

/* Período 7 - 73 ao 89*/
.fr { grid-column: 1;  grid-row: 7; }
.ra { grid-column: 2;  grid-row: 7; }
.rf { grid-column: 4;  grid-row: 7; }
.db { grid-column: 5;  grid-row: 7; }
.sg { grid-column: 6;  grid-row: 7; }
.bh { grid-column: 7;  grid-row: 7; }
.hs { grid-column: 8;  grid-row: 7; }
.mt { grid-column: 9;  grid-row: 7; }
.ds { grid-column: 10; grid-row: 7; }
.rg { grid-column: 11; grid-row: 7; }
.cn { grid-column: 12; grid-row: 7; }
.nh { grid-column: 13; grid-row: 7; }
.fl { grid-column: 14; grid-row: 7; }
.mc { grid-column: 15; grid-row: 7; }
.lv { grid-column: 16; grid-row: 7; }
.ts { grid-column: 17; grid-row: 7; }
.og { grid-column: 18; grid-row: 7; }

/* Lantanídeos (Linha 9 separada embaixo) - 90 ao 104*/
.la { grid-column: 4;  grid-row: 9; }
.ce { grid-column: 5;  grid-row: 9; }
.pr { grid-column: 6;  grid-row: 9; }
.nd { grid-column: 7;  grid-row: 9; }
.pm { grid-column: 8;  grid-row: 9; }
.sm { grid-column: 9;  grid-row: 9; }
.eu { grid-column: 10; grid-row: 9; }
.gd { grid-column: 11; grid-row: 9; }
.tb { grid-column: 12; grid-row: 9; }
.dy { grid-column: 13; grid-row: 9; }
.ho { grid-column: 14; grid-row: 9; }
.er { grid-column: 15; grid-row: 9; }
.tm { grid-column: 16; grid-row: 9; }
.yb { grid-column: 17; grid-row: 9; }
.lu { grid-column: 18; grid-row: 9; }

/* Actinídeos (Linha 10 separada embaixo) - 104 ao 118*/
.ac { grid-column: 4;  grid-row: 10; }
.th { grid-column: 5;  grid-row: 10; }
.pa { grid-column: 6;  grid-row: 10; }
.u  { grid-column: 7;  grid-row: 10; }
.np { grid-column: 8;  grid-row: 10; }
.pu { grid-column: 9;  grid-row: 10; }
.am { grid-column: 10; grid-row: 10; }
.cm { grid-column: 11; grid-row: 10; }
.bk { grid-column: 12; grid-row: 10; }
.cf { grid-column: 13; grid-row: 10; }
.es { grid-column: 14; grid-row: 10; }
.fm { grid-column: 15; grid-row: 10; }
.md { grid-column: 16; grid-row: 10; }
.no { grid-column: 17; grid-row: 10; }
.lr { grid-column: 18; grid-row: 10; }